{% extends 'layouts/base.html' %}


{% block title %} 
Create User
{% endblock title %}


{% block content %}

<div class="col-md-4 mx-auto mt-3">
    <form action="/user/store" method="post">
    {% csrf_token %}

    {% comment %} Business Name {% endcomment %}
    <div class="mb-3">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" />
    </div>
    
    {% comment %} Contact Name {% endcomment %}
    <div class="mb-3">
        <label for="middle_name">Middle Name</label>
        <input type="text" class="form-control" id="middle_name" name="middle_name" />
    </div>

    {% comment %} Location {% endcomment %}
    <div class="mb-3">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" />
    </div>

    {% comment %} Phone Number {% endcomment %}
    <div class="mb-3">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" name="age" />
    </div>

    {% comment %} Date of conducted business {% endcomment %}
    <div class="mb-3">
        <label for="birth_date">Date</label>
        <input type="date" class="form-control" id="birth_date" name="birth_date" />
    </div>

    {% comment %} Food Service Establishment {% endcomment %}
    <div class="mb-3">
        <label for="gender">Gender</label>
        <input type="text" id="gender" name="gender">
    </div>

    {% comment %} Gender {% endcomment %}
    <div class="mb-3">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" name="username" />
    </div>
 
    <button type="submit" class="btn btn-success float-end col-12 col-md-4">Save User</button>
    <a href="/user" class="btn btn-secondary float-end col-12 col-md-2 me-1">Back</a>
    </form>
</div>
{% endblock content %}
    
    