{% extends 'layouts/base.html' %}


{% block title %} 
Edit Types 
{% endblock title %}


{% block content %}

<div class="col-md-4 mx-auto mt-3">
    <form action="/stall/update/{{ stall.stall_id }}" method="post">
    {% csrf_token %} 
    {% comment %} Food Service Establishment {% endcomment %}
    <div class="mb-3">
        <label for="stall_type">Types of Food Stalls</label>
        <input type="text" class="form-control" id="stall_type" name="stall_type" value="{{ stall.stall_type }}" />
    </div>
    <div class="mb-3">
        <label for="stall_location">Name of Food Stalls</label>
        <input type="text" class="form-control" id="stall_location" name="stall_location" value="{{ stall.stall_location }}" />
    </div>
 
 
    <button type="submit" class="btn btn-success float-end col-12 col-md-3">Update Now</button>
    <a href="/stall" class="btn btn-secondary float-end col-12 col-md-3 me-1">Back</a>
    </form>
</div>
{% endblock content %}
    
    